{
  "env": {
    "build": {
      "presets": [
        ["env", {"modules": false}]
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "test": {
      "presets": [
        ["env"]
      ],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}